//**Theme Styles//**Theme Styles//**Theme Styles//**Theme Styles//
//**Theme Styles//**Theme Styles//**Theme Styles//**Theme Styles//
//**Theme Styles//**Theme Styles//**Theme Styles//**Theme Styles//

header, section {
    @extend .clearfix;
    position: relative;
}

section:first-of-type .wrapper {
    padding-top: 3rem;
}

/*
Introduction
*/

.landing {
    background-image: url("/assets/imgs/flatblue-bg.jpg");
    background-size: cover;
    img {
        //@extend .span_5;
   
    }
    .headlines {
        //margin-top: 10%;
    }
    h1 {
        @include font-size(30, 45);
        letter-spacing: 0;
        text-align: center;
    }
    p {
        font-family: $sansLight;
        @include font-size(18);
        text-align: center;
    }

}

/*
First Philosophy
*/

.philosophyCopy {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    width: 80%;
}

.philosophy1 {
    .wrapper { padding: 6% 5%; }
    background: url("../../assets/imgs/womanwithbags.jpg") 50% 0 repeat fixed;
    min-height: 600px;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1920px;
    p {
        text-transform: uppercase;
        font-family: $sansExtraLight;
        font-style: italic;
        color: white;
        font-size: 36px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.3rem;
        //margin: 0;
        //position: absolute;
        //top:50%;
        //margin-top: -25%;
        //width:80%;
        .emphasis {
            font-family: $serif;
            font-weight: normal;
            color: $coral;
            font-style: normal;
            display: block;
            line-height: 3;
        }
    }
}

/*
Value Props
*/

.valueProps {
    //padding: 100px 0;
    background-color: $lightGray;
    h1 {
        font-family: $sansLight;
        @include font-size(18, 18);
        color: $coral;
        //text-align: center;
   
    }
    p {
        font-family: $sansLight;
        @include font-size(14);
        color: white;
        //text-align: center;
   
    }
    li {
        list-style-type: none;
        display: inline-block;
        background: none;
        text-align: center;
        padding: 2.5% 0;
    }
    img {
        margin: 0 auto;
        max-width: 30%;
        &:hover {
            opacity: 0.8;
        }
    }
}

/*
How It Works
*/

.howItWorks {
    li {
        line-height: 1.1;
        margin-bottom: 1.75rem;
    }
    h2 {
        @include font-size(18, 50);
        margin: 0;
        padding-left: 6rem;
        display: inline-block;
        vertical-align: top;
        zoom: 1; /* Fix for IE7 */
        *display: inline; /* Fix for IE7 */
        &.customer {
            background:url('../../assets/imgs/icons/creditcard.png') left center no-repeat;
            background-size: 50px 50px;
        }
        &.retailer {
            background:url('../../assets/imgs/icons/tag.png') left center no-repeat;
            background-size: 50px 50px;
        }
    }
    .divider {
        height: 17px;
        width: 156px;
        margin: 2rem auto;
        background: url("../../assets/imgs/divider_small.png") no-repeat;
    }
    .productVideo {
        text-align: center;
    }
    h3 {
        font-family: $serif;
        font-weight: bold;
        @include font-size(24);
    }
}

/*
Second Philosophy 
*/


.philosophy2 {
    @extend .philosophy1;
    background: url("../../assets/imgs/mannequin.jpg") 50% 0 repeat fixed;
}

/*
About
*/

.about {
    //@extend .big-padding;
    background-image: url("../../assets/imgs/flatblue-bg.jpg");
    background-size: cover;
    min-height: 600px;
    address {
        text-align: center;
    }
    .logo {
        float: none;
    }
    .name {
        text-align: center;
    }
    h1 {
        @extend .title;
        margin-top: 1rem;
        margin-bottom: 5rem;
    }
}


/*
Modal
*/
#demoModal {
    background: none;
    background-color: $teal;
    color: white;
    padding: 3rem 4rem;
    @extend li;
    label { 
        background: none;
        display: block;
        margin-bottom: .75rem;
        padding-left: 0;
    }
    #submitButton {
        background: $coral;
        display: block;
        margin: 2.5rem auto 0;
        padding: 0 4rem;
    }
    input {
        margin-bottom: .75rem;
        &[type=text] {
            width:100%;
        }
    }
    fieldset { width: 100%; }
    h1 {
        @include font-size(30,36);
        text-align: center;
        color: white;
    }
}

legend {
    @extend p;
    color: $darkGray;
}
label { 
    @extend li;
    background-image: none;
    background: none;
    list-style-type: none;
}

input {
    border:1px solid rgba(200,200,200,0.5);
    @extend p;
    padding: 0 3px;
}



/*
Themes
*/

.teal {
    background: $teal;
    color: white;
}

.coral {
    background: $coral;
    color: white;
}

.gray {
    background: $lightGray;
    color: white;
}


