html, body {
	height: 100%;
	min-width: 320px;
	overflow-x: hidden;
}



.lt-ie9{
	width:960px!important;
}




//Global classes set for designating certain panel elements as being either relative or absolutely positioned.
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}





//Transparent scrollToTop element for making it easier for mobile devices to quickly get to the top of the page
.scrollToTop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 20px;
	opacity: 0;
	z-index: 1000;
}




//Fix for scrollbar becoming visible on iOS 6
.page-wrapper {
	height: 100%;
	position: relative;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
}


// Like won't need this but commenting out for now
//.row {
//	@extend .clearfix;
//}

