$fonts_dir: "/assets/fonts";

@import "compass";
@import "mixins";

/********************************/
/* Global Site Color Variables */
/******************************/

//-- TEXT COLORS --//

// Grays
$darkGray: #202020;
$mediumGray: #333333;
$lightGray: #555555;

// Teal
$teal: #14b29a;

// Coral
$coral: #eb6e64;

// Flat Blue
$flatBlue: #d1d9de;




/********************************/
/* Global Site FONT Variables */
/******************************/

$serif : 'valentinaregular';

$sansExtraLight :'source_sans_proextralight';
$sansLight :'source_sans_prolight';
$sansRegular :'source_sans_proregular';
$sansSemiBold :'source_sans_prosemibold';
$sansBold :'source_sans_probold';
$sansBlack :'source_sans_problack';