@import "base";

//******//******//******//******//******//******//******//
//Global//Global//Global//Global//Global//Global//Global//
//Styles//Styles//Styles//Styles//Styles//Styles//Styles//

* {
    font-family: "$sansRegular";
    //@include box-sizing(border-box);  Caused conflict with RoyalSlider sizing
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    a {
        text-decoration: none; 
        color: $coral;
    }
}

html {
    font-size: 62.5%; /* Sets up the Base 10 stuff */
}

body {
    background-color: white;
    color: $darkGray;
    font-size: 16px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.wrapper {
    width: 90%;
    padding: 5%;
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;         /* Only IE 8+ */
}


h1, h2, h3, h4, h5, h6 {
	color: $darkGray;
	text-transform: uppercase;
	line-height: 1;
    text-rendering: optimizeLegibility;
}

h2, h3, h4, h5, h6 {
	font-family: $sansRegular;
	letter-spacing: 0.1rem;
}

h1 { 
	font-family: $serif;
	font-size: 36px;
	font-weight: normal;
    margin: 2rem 0;
//    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}

h2 { @include font-size(30); }
h3 { @include font-size(24); }
h4 { @include font-size(18); }
h5 { @include font-size(14); }
h6 { @include font-size(10); }


p {
	font-family: $sansLight;
	@include font-size(16,30);
	letter-spacing: .1rem;
	color: $mediumGray;
	margin-bottom: 1.5rem;
}

li {
    font-family: $sansLight;
    @include font-size(16,20);
    margin-bottom: .75rem;
    list-style-type: none;
    background: url('/assets/imgs/bullet.png') center left no-repeat;
    li { 
        background: url('/assets/imgs/bullet-subitem.png') center left no-repeat;
        padding-left: 1.25rem;
    }
    .col & {
        padding-left: 1.75rem;
    }
}

address {
    font-family: $sansRegular;
    font-style: normal;
    @include font-size (16,24);
}

*:hover {
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

// Site Nav
nav { 
    height: 60px;
    ul { 
        @include reset;
        width: 100%;
        text-align: right;
    }
    li {
        background: none;
        display: inline-block;
        vertical-align: top;
        zoom: 1; /* Fix for IE7 */
        *display: inline; /* Fix for IE7 */
        padding: 0 7.5% 0 0;
        &:last-of-type { padding-right:0; }
    }
    a {
        color: $lightGray;
        font-family: $sansRegular;
        @include font-size(14,50);
        letter-spacing: .2rem;
        text-transform: uppercase;
        &:hover { 
            padding-bottom: 2px;
            border-bottom: 1px dotted $lightGray;
            cursor: pointer;
        }
    }
}


// Logo block
.logo {
    margin: 15px 0;
    display: inline-block;
    height: 50px;
    background:url('../../assets/imgs/logo/black/enclosed-m.png') left center no-repeat;
    background-size: 50px 50px;
    &:hover {
        border: none;
    }
}
.title {
    font-weight: normal;
    letter-spacing: 0.3rem;
    margin: 0;
    h1 { 
        margin:0;
        display: inline-block; 
        vertical-align: middle;
        @include font-size(24,50);
        color: $mediumGray;
        padding-left: 6rem;
    }
}





// User Interface Elements

.button {
    height: 45px;
    line-height: 45px;
    border-radius: 999px;
    margin: 15px auto;
    text-align: center;
    width: 200px;
    //padding: 0 30px;
    display: block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    border:none;
    font-family: $sansLight;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    &:first-of-type {
        //margin-left: 0;
    }
    &:hover{
        &.teal { background: #129a85; }
        &.gray { background: $mediumGray; }
    }
}

.divider {
    height:17px;
    width:156px;
    margin: 2rem auto;
    background: url('../../assets/imgs/divider_small.png') no-repeat;
}


// Footer
footer {
    text-align: center;
    .wrapper { 
        position: relative;
        padding:2.5%;
        height: auto;
    }
    background: $darkGray;
    color: white;
    .copyright {
        margin: 1rem;
        small { 
           font-family: $sansLight;
            color: $lightGray;
            letter-spacing: 0.15rem;
        }
    }
    ul {
        display: inline-block;
        height: 50px;
        @include reset;
        margin: 1rem;
    }
    li {
        display: inline-block;
        vertical-align: top;
        zoom: 1; /* Fix for IE7 */
        *display: inline; /* Fix for IE7 */
        margin: 0;
        padding: 5px;
        
    }
}


/*
Modal
*/

/* Reveal Modals ---------------------- */
.reveal-modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: white;
    background: rgba(250, 250, 250, 0.75);
    z-index: 40;
    display: none;
    top: 0;
    left: 0;
}

.reveal-modal {
    //background: $teal;
    //color: white;
    visibility: hidden;
    display: none;
    top: 150px;
    left: 50%;
    margin-left: -25%;
    width: 50%;
    position: absolute;
    z-index: 41;
    padding: 30px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.reveal-modal .close-reveal-modal {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: .5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: white;
    text-shadow: 0 0px 0px 4px rgba(0, 0, 0, 0.6);
    font-weight: bold;
    cursor: pointer;
}

.reveal-modal.small {
    width: 30%;
    margin-left: -15%;
}

.reveal-modal.medium {
    width: 40%;
    margin-left: -20%;
}

.reveal-modal.large {
    width: 60%;
    margin-left: -30%;
}

.reveal-modal.xlarge {
    width: 70%;
    margin-left: -35%;
}

.reveal-modal.expand {
    width: 90%;
    margin-left: -45%;
}

.reveal-modal .row {
    min-width: 0;
    margin-bottom: 10px;
}

.reveal-modal > :first-child {
    margin-top: 0;
}

.reveal-modal > :last-child {
    margin-bottom: 0;
}

@media print {
    div:not(.reveal-modal) {
        display: none;
    }
    .reveal-modal {
        border: solid 1px #000;
        background: #fff;
    }
}

@media only screen and (max-width: 767px) {
    .reveal-modal-bg {
        position: absolute;
    }
    .reveal-modal, .reveal-modal.small, .reveal-modal.medium, .reveal-modal.large, .reveal-modal.xlarge {
        width: 80%;
        top: 15px;
        left: 50%;
        margin-left: -40%;
        padding: 20px;
        height: auto;
    }
}





/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: $darkGray;
}



::-moz-selection {
    background: $teal;
    color: white;
    text-shadow: none;
}

::selection {
    background: $teal;
    color: white;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



// Responsive video
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
    .flex-video {
        padding-top: 0;
    }
}

.flex-video {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
    margin-bottom: 16px;
    overflow: hidden;
}

.flex-video.widescreen {
    padding-bottom: 57.25%;
}

.flex-video.vimeo {
    padding-top: 0;
}

.flex-video iframe, .flex-video object, .flex-video embed, .flex-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
