//Correctly output Font-Face with the bulletproof syntax
@mixin font-face($font-name, $font-files, $weight: false, $style: false) {
	@font-face {
		font-family: $font-name;

		src: url($fonts_dir + '/' + $font-files + '.eot');
		src: url($fonts_dir + '/' + $font-files + '.eot' + '?#iefix') format('embedded-opentype'),
			 url($fonts_dir + '/' + $font-files + '.woff') format('woff'),
			 url($fonts_dir + '/' + $font-files + '.ttf')  format('truetype'),
       url($fonts_dir + '/' + $font-files + '.otf')  format('opentype'); //necessary?


		@if ($weight) {
		font-weight: $weight;
		} @else {
			font-weight: normal;
		}

		@if ($style) {
		font-style: $style;
		} @else {
			font-style: normal;
		}
	}
}




//Mixin to easily convert font-size and optionally line height into rems with a px fallback. Ex. @include font-size(12, 20);
@mixin font-size($sizeValue: 1.6, $line: $sizeValue * 1.5, $important: 'not-important'){
    @if $important == 'not-important'{
        font-size: ($sizeValue * 1) + px;
        line-height: ($line * 1) + px;
        font-size: ($sizeValue / 10) + rem;
        line-height: ($line / 10) + rem;
    }@else{
        font-size: ($sizeValue * 1) + px !important;
        line-height: ($line * 1) + px !important;
        font-size: ($sizeValue / 10) + rem !important;
        line-height: ($line / 10) + rem !important;
    }
}


@mixin reset {
  margin:0;
  padding:0;
}

@mixin flex($target, $context){
	width: (($target/$context) * 100%);
}



// Grid responsive style
@mixin gridResponsive {
    .col { 
        margin: 1% 0 1% 0%;
    }
    .span_2_of_2 {
        width: 100%; 
    }
    .span_1_of_2 {
        width: 100%; 
    }
    .span_3_of_3 {
        width: 100%; 
    }
    .span_2_of_3 {
        width: 100%; 
    }
    .span_1_of_3 {
        width: 100%;
    }
    .span_4_of_4 {
        width: 100%; 
    }
    .span_3_of_4 {
        width: 100%; 
    }
    .span_2_of_4 {
        width: 100%; 
    }
    .span_1_of_4 {
        width: 100%; 
    }
}

// iPhone and iPad responsive styles

@mixin iPhoneResponsive {
	@include iPadResponsive;
	h1, h2, h3, h4, h5, h6, .title {
		text-align: center;
	}
	img { 
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
	.hide { display: none; }
	#iPad { 
		margin: 0 auto;
		height: 200px !important;
	}
	/*@include gridResponsive;
	h1 { text-align: center; }
	.title { width: 100%; }
	nav li {
		display:block;
		width: 80%; 
		margin: 0 auto 5px;
		float: none;
		border-radius: 15px;
		background: rgba(0,0,0,0.1);
		padding: 1%;
	}
	.valueProps {
		padding:0;
		img { width: 75px; }
		li { 
			width: 90%;
			padding-left: 0;
			margin: 25px auto;
		}
	}
	.howItWorks {
		li { line-height: 1.5 }
	}
	.philosophy1, .philosophy2 {
		
	}

	footer {
		.copyright {
			text-align: center;
		}
		.social li {
			float: none;
			display: inline-block;
			padding: .5rem 1.75rem;
		}
	}*/
}

@mixin iPadResponsive {
	@include gridResponsive;
	h1, h2, h3, h4, h5, h6, .title {
		text-align: center;
	}
	img { 
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
	.hide { display: none; }
	#iPad { margin: 0 auto; }
	/*h1 { text-align: center; }
	nav li {
		display:block;
		width: 80%; 
		margin: 0 auto 5px;
		float: none;
		border-radius: 15px;
		background: rgba(0,0,0,0.1);
		padding: 1%;
	}
	.hide { display: none; }
	.hideMedium { display: none; }
	.valueProps {
		padding:0;
		img { width: 75px; }
		li { 
			width: 90%;
			padding-left: 0;
			margin: 25px auto;
		}
	}
	.howItWorks {
		li { line-height: 1.5 }
	}

	footer {
		.copyright {
			text-align: center;
		}
		.social li {
			float: none;
			display: inline-block;
			padding: .5rem 1.75rem;
		}
	}*/
}